<template name="messageItem">
    <p data-animate data-property="opacity" data-duration="250" data-from-value="0" data-to-value="1"
       class="sayito message">

        {{#if renderLink}}
            <span style="margin-right: 15px">
                <a href="/said/{{message._id}}">
                    <i class="linkify icon"></i>
                </a>
            </span>
        {{/if}}

        <span>
            {{>messageText text=message.text}}
        </span>

        {{#if renderThumbsup}}
            <span style="margin-left: 15px">
                {{>messageThumbsup _id=message._id thumbsup=message.thumbsup}}
            </span>
        {{/if}}
    </p>
</template>