<template name="messageItem">
    <div class="label">
        <img src="http://api.adorable.io/avatar/200/{{message.userId}}.png" alt="avatar">
    </div>
    <div class="content">
        <div class="summary">
            <a>{{message.hash}}</a>
        </div>
        <div class="date">
            {{howLong}}
        </div>
        <div class="extra text">
            {{> messageText text=message.text}}
        </div>
        <div class="meta">
            {{> messageThumbsup}}
        </div>
    </div>
</template>