{
  "plugins": ["meteor"],
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended"
  ],
  "env": {
    "meteor": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "meteor/no-session": [0],
    "meteor/prefer-session-equals": [2]
  }
}
