<template name="messageList">
  <div class="ui feed sayito messages">
    {{#each message in messages}}
      {{#if showAdsense @index}}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout="image-side"
             data-ad-layout-key="-fe+67+3j-k5+oo"
             data-ad-client="ca-pub-1086700843295664"
             data-ad-slot="4034918634"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      {{/if}}
      {{> messageItem message=message}}
    {{/each}}
    {{#if noMessages}}
      <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
          {{_ 'zero_messages_header'}}
        </div>
        <p>{{_ 'zero_messages'}}</p>
      </div>
    {{/if}}
  </div>
</template>
