.sayito.message.dummy {
  background: #ccc;
  color: #ccc;
  height: 1.25rem;
  position: relative;
}

.sayito.message.dummy.d1 {
  width: 30%;
}
.sayito.message.dummy.d2 {
  width: 70%;
}
.sayito.message.dummy.d3 {
  width: 20%;
}
.sayito.message.dummy.d4 {
  width: 65%;
}
.sayito.message.dummy.d5 {
  width: 75%;
}

.sayito-input {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sayito.form {
    width: 50% !important;
    margin-left: 25% !important;
  }
}