.sayito.message.dummy {
  background: #ccc;
  color: #ccc;
  height: 1.25rem;
  position: relative;
  left: 25%;
  width: 50%;
}

.sayito-input {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sayito.form {
    width: 50% !important;
    margin-left: 25% !important;
  }
}