<template name="threadPassword">
    <div id="password-thread-modal" class="ui small modal">
        <div class="header">
            {{_ 'password'}}
        </div>
        <div class="content">
            {{#if hasErrors}}
                <div class="ui small error message">
                    <i class="close icon"></i>
                    <div class="header">
                        {{_ 'error_header'}}
                    </div>
                    <ul class="list">
                        {{#each error in errors}}
                            <li>{{error.message}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            <form id="password-thread-form" class="ui form">
                <div class="field">
                    <label>{{_ 'password'}}</label>
                    <input type="password" name="password" placeholder="{{_ "thread_password"}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui deny button">
                {{_ 'cancel'}}
            </div>
            <div id="thread-view" class="ui right labeled icon positive approve button {{approveButtonClass}}">
                {{_ 'enter'}}
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>