<template name="threadPassword">
    <div id="password-thread-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Password
        </div>
        <div class="content">
            <form id="password-thread-form" class="ui form">
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Thread Password">
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div id="thread-view" class="ui positive right labeled icon button thread-start">
                View thread
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>